.form-container{

        display: flex;
        justify-content: center;

    .user-form{
        position: absolute;
        width: 35rem;
        top: 12rem;
        z-index: 100;
        background-color: white;
        box-shadow: -1px -1px 8px 2px black;
        padding: 1rem 1rem;

        .close {
            display: flex;
            justify-content:end;
            .close-btn{
                cursor: pointer;
                background-color: white;
                color: red;
                border: none;
                padding: 0.2rem 0 ;
            }
        }

        .input-field {
            color: black;
            display: flex;
            flex-direction: column;
            padding: 0.4rem 0 ;
            padding-right: 5rem;
            position: relative;
            span
            {
                font-weight: 500;
                font-size: 0.8rem;
            }
        
            input {
                height: 1.7rem;
                border: 1px solid black;
            }
        
            .address {
                height: 5rem;
            }
        }
        
        .contact-detail {
            display: flex;
        
            :first-child {
                margin-right: 1rem;
                padding-right: 0rem !important;
            }
        
            .input-field {
                flex: 1;
        
            }
        
        }
        
        footer {
            display: flex;
            justify-content: end;
            margin: 0.2rem 0 ;
            .add-btn {
                background: #588927;
                min-width: 5rem;
                color: white;
                height: 1.5rem;
            }
        }
    }
    .is-invalid-text {
        color: red;
        position: absolute;
        bottom:-9px
    }

    .is-invalid-field {
        border: 1px solid red !important;
    }
}