section {
    .list-component{
        border: 1px solid #ccc8c8;
        width: 23rem;
        padding: 1rem ;
    }
    .card-heading {
        font-weight: 200;
        font-size: 1.8rem;
        padding: 0.4 0rem;
    }

    .footer span {
        font-size: 0.8rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
    }
}