section {
    .heading {
        height: 6rem;
        display: flex;
        align-items: center;
        background: #9191b8;
        font-size: 2rem;
        padding: 0 2rem;
    }

    nav {
        height: 2rem;
        background: #3f3b3b;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        :nth-child(2) {
            padding-left: 0.5rem !important;
        }
    }

    ;

    .nav-item {
        color: white;
        font-weight: 800;
        font-size: 1.2rem;
        text-decoration: none;
        padding: 0 2rem;
    }

    .detail-container {
        display: flex;
        padding: 0 2rem;
    }

    .left-side {
        width: 35%;
    }

    .right-side {
        width: 65%;
        margin-top: 3rem;
    }
}